@import '~bootstrap/scss/bootstrap';

@import 'partials/_variables.scss';
@import 'partials/_reset.scss';
@import 'partials/_general.scss';

@import 'partials/_header.scss';

@import 'partials/_mainComics.scss';

@import 'partials/_footer.scss';


// comics.show
.fa-reply {
    &:hover {
        color: $blue-dc;
    }
}
.show-card {
    img {
        max-height: 400px;
    }

    .show-info {

        .show-label {
            color: $blue-dc;
            margin-right: 4px;
        }
    }
}
.fa-pen-to-square,
.fa-trash-can {
    font-size: 16px;
    transition: 0.5s;
    &:hover {
        font-size: 19px;
        
    }
}
.fa-pen-to-square {
    &:hover {
        color: yellow;        
    }
}
.fa-trash-can {
    &:hover {
        color: red;       
    }
}