*{
    color: white;
}

main {
    background-color: rgb(28,28,28);
}

.jumbo-div {
    height: 350px;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
}

.BuyComp {
    background-color: $blue-dc;
    color: white;
    padding: 30px 0;
    display: flex;
    align-items: center;

    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        li{
            margin: 10px 0;
            display: flex;
            display: flex;
            align-items: center;

            img {
                width: 60px;
                aspect-ratio: 1;
                object-fit: contain;
            }

            a {
                text-transform:uppercase;
                margin-left: 8px;
            }
        }
    }
}