#comics-main{
    position: relative;
    padding: 40px 0 20px;

    // etichetta current series
    .currentSeries{
        text-transform: uppercase;
        font-weight: 800;
        background-color: $blue-dc;
        padding: 10px;
        position: absolute;
        z-index: 999;
        top: 0;
        transform: translate(0 , -50%);
    }

    // contenitore cards / cards
    .card-container {

        .comic-card {
            // width: calc(100% / 6 - 15px );
            // margin-bottom: 30px ;
    
            img {
                display: block;
                // max-width: 150px;
                // object-fit: cover;
            }
    
            .cardTitle {
                padding: 5px 0;
                font-size: 15px;
                text-transform: uppercase;
            }
        }
        // .comic-card {
        //     @media screen and (max-width: 1000px ){
        //         width: calc(100% / 4 - 15px );
        //     }
        //     @media screen and (max-width: 768px ){
        //         width: calc(100% / 3 - 15px );
        //     }
        //     @media screen and (max-width: 576px ){
        //         width: calc(100% / 2 - 10px );
        //     }
        // }
    }

    //bottone Load More
    .load-button {
        background-color: $blue-dc;
    }
}